:root {
    font-family: "Outfit";
    --primary-blue: hsl(215, 51%, 70%);
    --primary-light: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --light: hsl(0, 0%, 100%);
    --radius : .5em;
    --transition : all .2s linear;
    --size : .9em;
    --size-small : .75em;
}

/*
Breakpoints::

- Mobile: 375px
- Desktop: 1440px

*/

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* !em == 18px as per user guide */
    font-size: 112.5%;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--main-bg);
    display: grid;
    place-items: center;
}

.card {
    padding: 1.15em;
    background-color: var(--card-bg);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 18em;
    height: 30em;
    gap: 1em;
}

.card__image-container {
    display: block;
    overflow: hidden;
    border-radius: var(--radius);
    position: relative;
    cursor: pointer;
}

.card__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card__image--overlay {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    background-color: var(--primary-light);
    opacity: 0;
    transition: var(--transition);
}

.card__image--view-wrapper {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    color: var(--light);
    z-index: 10;
    opacity: 0;
    transition: var(--transition);
}

.card__image-container:hover > .card__image--overlay {
    opacity: .75;
}

.card__image-container:hover .card__image--view-wrapper {
    opacity: 1;
}

/* card title  */

.card__title {
    color: var(--light);
    font-size: 1.25em;
    cursor: pointer;
    transition: all .2s linear;
    font-weight: 600;
}

.card__title:hover {
    color: var(--primary-light);
}

.card__text {
    font-size: var(--size);
    opacity: .75;
}

.card__text, 
.card__text--footer {
    color: var(--primary-blue);
    font-weight: 300;
}

.card__text--footer {
    opacity: .75;
}

.card__link {
    color: var(--light);
    margin-left: .25em;
    font-weight: 300;
    cursor: pointer;
}

.card__link:hover {
    color: var(--primary-light);
    transition: var(--transition);
}


.card__footer {
    display: flex;
    align-items: center; 
    justify-content: start;
    gap: 1em;
    padding-top: 1em;
    font-size: var(--size);
    border-top: 1px solid var(--line);
}

.card__footer__profile {
    height: 2em;
    width: 2em;
    aspect-ratio: 1 / 1;
    display: block;
    padding: 1px;
    background-color: var(--light);
    border-radius: 50%;
}

/* card info list */
.card-info__list {
    list-style: none;
    display: flex;
    align-items: center; justify-content: space-between;
}

.card-info__group {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .35em;
}

.card-info__icon {
    display: inline-block;
    flex-shrink: 0;
}

.card-info__text {
    color: var(--primary-blue);
    font-size: var(--size-small);
}

.card-info__text--main {
    color: var(--primary-light);
    font-weight: 600;
}

.attribution {
    display: none;
}